h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#list{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
}

#list>div{
   width : 400px;
}
#categeories{
    text-align: center;
}